/* Home.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.header h1 {
    margin: 0;
}

/* Welcome message block */
.welcome-message-block {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 1em;
    margin-bottom: 1em;
}


nav {
    background-color: #444;
    overflow: hidden;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    float: right;
}

nav ul li a {
    display: block;
    color: #fff;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #555;
color: black;
}

nav ul li.logo {
    float: left;
}

nav ul li.logo img {
    height: 50px;
    margin: 5px 10px 0 0;
}

/* Content styling */

.content {
    padding: 20px;
}

.content h2 {
    text-align: center;
    margin-top: 0;
}

.feed {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.post {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 80%;
    margin: 10px 0;
    padding: 10px;
}

.post img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.post p {
    margin: 10px 0;
}

.post-actions {
    display: flex;
    justify-content: space-between;
}

.post-actions form {
    display: inline;
}

.post-actions button {
    background-color: #28a745;
    border: none;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

.post-actions button:hover {
    background-color: #218838;
}

.comments {
    margin-top: 10px;
}

.comments form {
    display: flex;
    flex-direction: column;
}

.comments textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    resize: vertical;
}

.comments button {
    background-color: #007bff;
    border: none;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

.comments button:hover {
    background-color: #0069d9;
}

.comments p {
    background-color: #f1f1f1;
    padding: 10px;
    border-radius: 5px;
    margin: 5px 0;
}
