<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://java.sun.com/xml/ns/javaee" 
         version="2.5" 
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"> 

    <display-name>Student Autograph Application</display-name>

    <welcome-file-list>
        <welcome-file>Landing.jsp</welcome-file>
    </welcome-file-list>

   <servlet>
        <servlet-name>RegistrationServlet</servlet-name>
        <servlet-class>servletApplications.Registration</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegistrationServlet</servlet-name>
        <url-pattern>/Registration</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UserLoginServlet</servlet-name>
        <servlet-class>servletApplications.UserLogin</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>Logout</display-name>
    	<servlet-name>Logout</servlet-name>
    	<servlet-class>servletApplications.Logout</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>UploadImage</display-name>
    	<servlet-name>UploadImage</servlet-name>
    	<servlet-class>servletApplications.UploadImage</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>Comments</display-name>
    	<servlet-name>Comments</servlet-name>
    	<servlet-class>servletApplications.Comments</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>DeleteImage</display-name>
    	<servlet-name>DeleteImage</servlet-name>
    	<servlet-class>servletApplications.DeleteImage</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>UpdateProfile</display-name>
    	<servlet-name>UpdateProfile</servlet-name>
    	<servlet-class>servletApplications.UpdateProfile</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>NotificationServlet</display-name>
    	<servlet-name>NotificationServlet</servlet-name>
    	<servlet-class>servletApplications.NotificationServlet</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>UpdateProfileForSettings</display-name>
    	<servlet-name>UpdateProfileForSettings</servlet-name>
    	<servlet-class>servletApplications.UpdateProfileForSettings</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>ChangePassowrd</display-name>
    	<servlet-name>ChangePassowrd</servlet-name>
    	<servlet-class>servletApplications.ChangePassowrd</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>UserLoginServlet</servlet-name>
        <url-pattern>/UserLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>Logout</servlet-name>
    	<url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>UploadImage</servlet-name>
    	<url-pattern>/UploadImage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>Comments</servlet-name>
    	<url-pattern>/Comments</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>DeleteImage</servlet-name>
    	<url-pattern>/DeleteImage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>UpdateProfile</servlet-name>
    	<url-pattern>/UpdateProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>NotificationServlet</servlet-name>
    	<url-pattern>/NotificationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>UpdateProfileForSettings</servlet-name>
    	<url-pattern>/UpdateProfileForSettings</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>ChangePassowrd</servlet-name>
    	<url-pattern>/ChangePassowrd</url-pattern>
    </servlet-mapping>
    
    
    <error-page>
	    <exception-type>java.lang.Throwable</exception-type>
	    <location>/error</location>
	</error-page>
    
</web-app>